/* GLOBAL STYLES */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 40px;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    background-color: #fffef5f9;
    color: #313131;
}

hr {
    border-top: 2px solid rgb(44, 51, 62);
    margin: auto;
}

/* TABLE STYLES */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

button {
    background-color: rgb(32, 107, 227);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

button:hover {
    background-color: rgb(22, 87, 207);
}

button:active {
    background-color: rgb(12, 67, 187);
}

/* INPUT STYLES */
input, textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
}

/* OTHER STYLES */
.loading-gif {
    height: 1em;
    vertical-align: middle;
}

/* question answer switch STYLES */

.question {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adds space between each question */
}

.options {
    margin-right: 20px; /* Adds space between the radio buttons and the description */
}

.options label {
    margin-right: 10px; /* Adds space between the "No" and "Yes" options */
}

.description {
    margin: 0; /* Removes default paragraph margins */
}

button[type="submit"] {
    padding: 10px 20px; /* Adjust button padding to your preference */
    cursor: pointer; /* Changes cursor to pointer when hovering over button */
}